<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs setup</title>
    <!-- <style>
        body {
            background-color: black;
            color: red;
        }
    </style> -->
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>We are learning EJS <%= name%>
    </h1>
    <ul>
        <li>
            Smartphone Name = <%=products[0].title%>
        </li>
        <li>
            price = <%=products[0].price%>
        </li>
    </ul>
</body>

</html>