<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC - MOdel viiews and controllers</title>
    <style>
        body {
            background-color: blue;
            color: rgb(7, 16, 13);
        }
    </style>
</head>

<body>
    <h1>MVC - MOdel Views Controllers</h1>

    <form action="/form-submit" method="post">
        name:-<input type="text" name="name"><br><br>
        email:-<input type="email" name="email"><br><br>
        age:-<input type="number" name="age"><br><br>
        phone:-<input type="number" name="phone"><br><br>
        password:-<input type="password" name="password"><br><br>
        <input type="submit" value="submit"><br><br>
    </form>
</body>

</html>